---
layout: default
---
<!-- la classe .g-* pour les gouttières horizontale  -->
<main>
    <section id="compt" class="bg-light">
        <h2 class="text-center fw-bold">Compétence</h2>
        <div class="container">
            <div class="row justify-content-center p-4">
                 {% include skill.html %}
            </div>
        </div>
    </section>
    <section id="exp" class="container">
        <h2 class="text-center fw-bold">Expérience</h2>

    </section>
    <section id="portfolio" class="bg-light p-3">
        <h2 class="text-center fw-bold m-2">Portfolio - Réalisation</h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
                {% for github in site.github.public_repositories %}
                {% if github.archived == false and github.has_pages == true and github.name != "JJeanniard.github.io" %}

                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img class="img-thumbnail  m-2" src="http://via.placeholder.com/200" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ github.name }}</h5>
                            <p class="card-text">{{ github.description}}</p>

                        </div>
                        <div class="card-footer"><a href="{{ github.html_url }}" class="btn btn-primary">Lien</a></div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="form">
        <h2 class="text-center fw-bold">Formation</h2>
    </section>
</main>
