---
layout: default
---
<main>
    <section id="competences" class="bg-light">
        <div class="container">
            <div class="row justify-content-center p-4">
                {% include skill.html %}
            </div>
        </div>
    </section>
    <section id="experiences" class="container">
        <div class="container">
            <div class="row justify-content-center p-4">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-year">2019</div>
                                <div class="timeline-icon"><i class="fa fa-building"></i></div>
                                <div class="inner-content">
                                    <h3 class="title">Intérimaire polyvalent</h3>
                                    Réalisation des passages de câble (acheminement, gaines,
                                    chemin de câble…), avec tirage de câble et raccordement de l'appareillage finaux
                                    (prise, luminaire, radar …).
                                    <h4>Randstad</h4>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-year">2018</div>
                                <div class="timeline-icon"></div>
                                <div class="inner-content">
                                    <h3 class="title">Technicien Télécom itinérant</h3>
                                    Raccordement, installation et mise en service de point de connexion à internet
                                    pour particulier et professionnel, avec des lignes RNIS et Numeris.
                                    Travail en autonomie et en équipe, sous-traitent pour la société Orange.
                                    <h4>Scopelec</h4>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-year">2016</div>
                                <div class="timeline-icon"></div>
                                <div class="inner-content">
                                    <h3 class="title">Intérimaire polyvalent</h3>
                                    Operateur de production en agro-alimentaire, avec un contrôle rigoureux sur la mise
                                    en emballage des produits et confection de ceci. Et agent de fabrication d'emballage
                                    en bois pour des produits alimentaires, tout en travaillant en équipe.
                                    <h4>Randstad</h4>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-year"></div>
                                <div class="timeline-icon"></div>
                                <div class="inner-content">
                                    <h3 class="title">Technicien Télécom itinérant</h3>
                                    En stage d'immersion en entreprise, dans le cadre de la formation <strong>Technicien
                                    Réseaux & Télécom d'Entreprise</strong>, sur la mise en pratique des acquis et en
                                    apportent un besoin aux s'entreprises. Sur des installations d'autocom, de vidéo et
                                    alarme, pour des besoins aux clients particulier, comme professionnel.
                                    <h4>Eiffage Energie & CM Télécom Réseaux</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="realisation" class="bg-light p-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
                {% for github in site.github.public_repositories %}
                {% if github.archived == false and github.has_pages == true and github.name != "JJeanniard.github.io" %}

                <div class="col">
                    <div class="card shadow-sm h-100">
                        <img class="img-thumbnail  m-2" src="http://via.placeholder.com/200" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ github.name }}</h5>
                            <p class="card-text">{{ github.description}}</p>

                        </div>
                        <div class="card-footer"><a href="{{ github.html_url }}" class="btn btn-primary">Lien</a></div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="formation">
        <div class="container">
            <div class="row justify-content-center p-4">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-year"></div>
                                <div class="timeline-icon"></div>
                                <div class="inner-content">
                                    <h3 class="title"></h3>
                                    <h4></h4>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-year"></div>
                                <div class="timeline-icon"></div>
                                <div class="inner-content">
                                    <h3 class="title"></h3>
                                    <h4></h4>
                                </div>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-year"></div>
                                <div class="timeline-icon"></div>
                                <div class="inner-content">
                                    <h3 class="title"></h3>
                                    <h4></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
