<div class="col-12">
    <div class="main-timeline">
        <div class="timeline">
            <div class="timeline-content">
                <div class="timeline-year">2019</div>
                <div class="timeline-icon"><i class="fa fa-building"></i></div>
                <div class="inner-content">
                    <h3 class="title">Intérimaire polyvalent</h3>
                    <p>Réalisation des passages de câbles (acheminements, gaines,
                    chemin de câble…), avec tirage de câble et raccordement d'appareillage finaux
                        (prise, luminaire, radar …).</p>
                    <h4>Randstad</h4>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="timeline-content">
                <div class="timeline-year">2018</div>
                <div class="timeline-icon"><i class="fa fa-wifi"></i></div>
                <div class="inner-content">
                    <h3 class="title">Technicien Télécom itinérant</h3>
                    <p>Raccordement, installation et mise en service de point de connexion à internet
                    pour particulier et professionnel, avec des lignes RNIS et Numeris.
                    Travail en autonomie et en équipe, sous-traitent pour la société Orange.</p>
                    <h4>Scopelec</h4>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="timeline-content">
                <div class="timeline-year">2016</div>
                <div class="timeline-icon"><i class="fa fa-bread-slice"></i></div>
                <div class="inner-content">
                    <h3 class="title">Intérimaire polyvalent</h3>
                    <p>Opérateur de production en agro-alimentaire, avec un contrôle rigoureux sur la mise
                    en emballage des produits et confection de ceci. Et agent de fabrication d'emballage
                        en bois pour des produits alimentaires, tout en travaillant en équipe.</p>
                    <h4>Randstad</h4>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="timeline-content">
                <div class="timeline-year">2013</div>
                <div class="timeline-icon"><i class="fa fa-phone"></i></div>
                <div class="inner-content">
                    <h3 class="title">Technicien Télécom itinérant</h3>
                    <p>En stage d'immersion en entreprise, dans le cadre de la formation <strong>Technicien
                    Réseaux & Télécom d'Entreprise</strong>, sur la mise en pratique des acquis et en
                    apportent un besoin aux s'entreprises. Sur des installations d'autocom, de vidéo et
                    alarme, pour des besoins aux clients particulier, comme professionnel.</p>
                    <h4>Eiffage Energie & CM Télécom Réseaux</h4>
                </div>
            </div>
        </div>
    </div>
</div>