<header class="fixed-top">
    <section class="collapse" id="navbarContent">
        <div class="bg-blue-1 p-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1 class="text-white">&Agrave propos</h1>
                        <p class="text-white">{{ site.description }}</p>
                    </div>

                    <div class="col-sm-4">
                        <h1 class="text-white">Contact</h1>
                        <ul class="list-unstyled">
                            <li><a href="{{ site.social.links[0] }}" class="text-white">Twitter</a></li>
                            <li><a href="{{ site.social.links[1] }}" class="text-white">Linkedin</a></li>
                            <li><a href="{{ site.social.links[2] }}" class="text-white">Github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-blue-2 bg-blue-2">
        <div class="container container-fluid">
            <a class="navbar-brand" href="https://jonathanjeanniard.me">
                {{ site.initiale | capitalize }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>