<div class="col-md-12">
    <div class="main-timeline">
        <div class="timeline">
            <div class="timeline-content">
                <div class="timeline-year"></div>
                <div class="timeline-icon"></div>
                <div class="inner-content">
                    <h3 class="title"></h3>
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="timeline-content">
                <div class="timeline-year"></div>
                <div class="timeline-icon"></div>
                <div class="inner-content">
                    <h3 class="title"></h3>
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="timeline-content">
                <div class="timeline-year"></div>
                <div class="timeline-icon"></div>
                <div class="inner-content">
                    <h3 class="title"></h3>
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>
</div>