.btn {
    border: 1px solid $clr-primary;
    border-radius: 0.66rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
        background-color: $clr-primary;
        border: 2px solid $clr-fill;
    }

}

.btn-primary {
    background-color: $clr-fill;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}