#repository {
    padding-top: 5rem;
    margin-top: -5rem;

    // Ombre douce et dégradé ajusté
    //background: radial-gradient(circle, rgba($clr-primary, 0.66) 50%, rgba($clr-secondary, 0) 66%);
    //border-radius: 50%;

    .carousel {
        .carousel-item {
            margin-bottom: 5rem;
        }
    }

    .card {
        .h5 {
            font-size: 1.7rem;
            font-weight: 600;
            text-transform: capitalize;
        }

        p {
            font-size: 0.7rem;
        }
    }
}
