$utilities: (
    "top": (
        property: top,
        values: (
            15: 15%,
            30: 30%,
            55: 55%,
            80: 80%,
            95: 95%,
        ),
    ),
);

#skill {
    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin-top: 50px;
    }

    .skill-bubble {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $clr-primary;
        margin-right: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        &.small {
            width: 50px;
            height: 50px;
            i {
                font-size: 28px;
            }
        }

        &.medium {
            width: 100px;
            height: 100px;
            i {
                font-size: 40px;
            }
        }

        &.large {
            width: 150px;
            height: 150px;
            i {
                font-size: 60px;
            }
        }
    }
}

@import "bootstrap/scss/utilities/api";
