#about {
    padding-top: 8rem;
    .row {
        position: relative;
    }

    #profile-picture {
        position: relative;
        width: 22rem;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: radial-gradient(circle, rgba($clr-primary, 0.3) 30%, rgba($clr-secondary, 0) 70%);
            width: 20rem;
            height: 20rem;
        }
        img {
            border-radius: 40%;
            width: 16rem;
            position: relative;
        }
    }
}
