main {
    #repository {
        .card{
            .h5 {
                font-size: 1.7rem;
                font-weight: 600;
                text-transform: capitalize;
            }

            p{
                font-size: 0.7rem;
            }
        }
    }
}