@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

$clr-primary: #693b93;
$clr-secondary: #1a0b2e;
$clr-tertiary: #251c31;
$clr-body: #11071f;
$clr-quaternary: #f3f3f3;

#root {
    background-color: $clr-body;
    header {
        nav {
            background-color: $clr-secondary;
        }
    }

    main {
        #repo {
            .desc {
                border: solid 1px $clr-primary;
                background-color: rgba(
                    $clr-primary,
                    0.1
                ); // Ajoutez l'opacité ici (0.5 représente 50% d'opacité)
            }
        }
    }
}

.btn {
    background-color: $clr-tertiary;
    border: solid 2px $clr-primary;
    border-radius: 10px;
}
