{% include header.html %}
<section class="portfolio">
    {% for repo in site.github.public_repositories %}
    {% if repo.fork != true and repo.archived != true and repo.name != "JJeanniard.github.io" and repo.has_pages == true
    %}
    <article class="project">
        <header>
            <h2><a href="{{ repo.html_url }}">{{repo.name}}</a></h2>
            <p>{{ repo.license.name }}</p>
        </header>
        <hr>
        <p class="desc">{{ repo.description}}</p>
    </article>
    {% endif %}
    {% endfor %}
</section>

{% include footer.html %}